<!DOCTYPE html>
<html>
<head>
  <title>KmsModels</title>
  <%= stylesheet_link_tag    "kms_models/application", media: "all" %>
  <%= javascript_include_tag "kms_models/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
