.form-group ng-repeat="field in model.fields_attributes"
  ng-include src="'fields/' + getFieldTemplateName(field) + '.html'"
  /input.form-control type="text" ng-model="entry.values[field.liquor_name]" ng-attr-id="{{field.liquor_name}}"
